<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <% if Rails.env.development? %>
        <pre class="debug_dump">
params: <%= params %>
original_url: <%= request.original_url %>
ip: <%= request.ip %>
method: <%= request.method %>
server_software: <%= request.server_software %>
        </pre>
      <% end %>
    </div>
  </body>
</html>